html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.582),
    rgba(6, 6, 8, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.678),
    rgba(0, 0, 0, 0.863)
  );

  --imp-text-color: #78df86;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #2b2a2e;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5ff87e;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5ff87e;
  border-radius: 12px;
}

/* --------- */
/* Home section */
/* --------- */

.home-header {
  padding-bottom: 20px !important;
}

.home-section {
  position: relative;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 20px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
}

.heading-name {
  font-size: 1.8em !important;
}

.main-name {
  color: #5ff87e;
}

.project-title {
  color: #5ff87e;
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
  margin-bottom: 10px !important; /* Added margin to the bottom */
}

.project-card img {
  width: 100%; /* Adjust the width as needed */
  max-width: 100%; /* Ensure it doesn't exceed the column width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px; /* Add margin to the top of the image */
}

@media (min-width: 768px) {
  .project-card img {
    max-width: 100%; /* Ensure it doesn't exceed the column width */
  }
}

.project-card a {
  display: block; /* Ensure the link is a block element */
  z-index: 1; /* Ensure the link is above other elements */
}

.project-card-view {
  background-color: transparent !important;
  box-shadow: 0 3px 3px 2px #5ff87e !important;
  color: white !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.blog-link {
  color: white !important;
  text-decoration: none !important;
}

.blog-link:hover {
  cursor: pointer !important;
}

.linkedin-body {
  position: absolute;
  top: -10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}

.linkedin-body a {
  display: block; /* Makes the link a block element */
  width: 50px; /* Sets the width of the link */
  height: 50px; /* Sets the height of the link */
  line-height: 50px; /* Centers the icon vertically */
  text-align: center; /* Centers the icon horizontally */
  background-color: #0077b5; /* Sets the background color of the link */
  color: white; /* Sets the color of the icon */
  border-radius: 50%; /* Makes the link circular */
}